{% include analytics.html %}

{% if site.disqus %}
  <!-- <script id="dsq-count-scr" src="//mancoxu.disqus.com/count.js" async></script>
  <script type="text/javascript">
    var disqusShortName = "{{ site.disqus.name }}";

    var disqusPublicKey = "{{ site.disqus.public_key }}";

    var urlArray = [];
    $('.disqus-comment-count').each(function () {
      var url = $(this).attr('data-disqus-url');
      urlArray.push('link:' + url);
    });
    $.ajax({
      type: 'GET',
      url: "https://disqus.com/api/3.0/threads/set.jsonp",
      data: { api_key: disqusPublicKey, forum : disqusShortName, thread : urlArray },
      cache: false,
      dataType: "jsonp",
      success: function (result) {
        for (var i in result.response) {
          var count = result.response[i].posts;
          if ( count ) {
            $('.disqus-comment-count[data-disqus-url="' + result.response[i].link + '"]').html(count);
          }
        }
      }
    });
</script> -->
{% endif %}

{% if site.duoshuo %}

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"{{site.duoshuo.name}}"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

{% endif %}